body {
    background: aquamarine;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    background-color: greenyellow;
}

h2 {
    text-align: center;
}

p {
    border: 5px solid blueviolet;
}

.Inicios {
    background-color: chocolate;
}
img {
    align-items: center;
}